parameters:
  level: 5
  phpVersion: 80200

  paths:
    - ./src

  bootstrapFiles:
    - ./vendor/autoload.php

  treatPhpDocTypesAsCertain: false

  excludePaths:
    - tests/*
    - vendor/*
    - node_modules/*
    - assets/*

  ignoreErrors:
    - '#Call to an undefined method (WP_|apply_filters|do_action|get_option|update_option|get_post).*#'
    - '#Access to an undefined property (WP_|post|wpdb).*#'
    - '#Function get_(option|post|term).* not found.#'
    -
      identifier: missingType.iterableValue
    -
      identifier: missingType.generics

includes:
  - phpstan-baseline.neon
