parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$gluonName\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Access to an undefined property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$gluonPath\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Access to an undefined property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$gluonUrl\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Call to static method log\\(\\) on an unknown class Starisian\\\\Sparxstar\\\\helpers\\\\SparxstarGluonLogger\\.$#"
			count: 2
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Class Starisian\\\\Sparxstar\\\\core\\\\SparxstarGluonCore not found\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Class Starisian\\\\Sparxstar\\\\integrations\\\\SparxstarGluonRules not found\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Constant GLUON_PLUGIN_NAME not found\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Constant GLUON_PLUGIN_PATH not found\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Constant GLUON_PLUGIN_URL not found\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Constant GLUON_PLUGIN_VERSION not found\\.$#"
			count: 2
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^PHPDoc tag @var for constant Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:VERSION with type string is not subtype of value mixed\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Parameter \\#2 \\$mofile of function load_textdomain expects string, false given\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$core is unused\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$pluginName is unused\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$pluginPath is unused\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$pluginUrl is unused\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Property Starisian\\\\Sparxstar\\\\Gluon\\\\SparxstarGluonOrchestrator\\:\\:\\$version is never read, only written\\.$#"
			count: 1
			path: src/SparxstarGluonOrchestrator.php

		-
			message: "#^Call to an undefined static method Starisian\\\\Sparxstar\\\\Gluon\\\\integrations\\\\SparxstarGluonRules\\:\\:getInstance\\(\\)\\.$#"
			count: 1
			path: src/core/SparxstarGluonCore.php

		-
			message: "#^Constant GLUON_PLUGIN_NAME not found\\.$#"
			count: 1
			path: src/helpers/loggers/SparxstarGluonLogger.php

		-
			message: "#^Call to static method prompt\\(\\) on an unknown class WordPress\\\\AI_Client\\\\AI_Client\\.$#"
			count: 1
			path: src/includes/SparxstarGluonAIManager.php

		-
			message: "#^Constant GLUON_PLUGIN_NAME not found\\.$#"
			count: 1
			path: src/integrations/SparxstarGluonRules.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$type$#"
			count: 1
			path: src/integrations/SparxstarGluonRules.php

		-
			message: "#^PHPDoc tag @return with type string\\|null is not subtype of native type string\\|false\\.$#"
			count: 1
			path: src/integrations/SparxstarGluonRules.php

		-
			message: "#^Variable \\$args might not be defined\\.$#"
			count: 1
			path: src/templates/sparxstar-gluon-template.php
