name: Auto Assign

on:
    issues:
        types: [opened]
    pull_request:
        types: [opened]

jobs:
    run:
        runs-on: ubuntu-latest
        permissions:
            issues: write
            pull-requests: write

        steps:
            - name: Auto-assign issue or PR
              uses: pozil/auto-assign-issue@c5bca5027e680b9e8411b826d16947afd8c76b32
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  assignees: MaximillianGroup
                  numOfAssignee: 1
